.editContainer {
  background-color: #fff;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(5, 114, 38, 0.295);
  width: 400px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  margin-left: 750px;
}

.editTitle {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.backButtonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.backButton {
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 6px;
  cursor: pointer;
  transition-duration: 0.3s;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

.backButton:hover {
  background-color: #e9e9e9;
  color: #000;
}

.editForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 15px;
}

.formLabel {
  font-size: 1.1em;
  margin-bottom: 5px;
  color: #555;
}

.formInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1em;
}

.submitButton {
  padding: 12px 20px;
  font-size: 1em;
  border: none;
  border-radius: 6px;
  background-color: #065279;
  color: white;
  cursor: pointer;
  transition-duration: 0.3s;
}

.submitButton:hover:enabled {
  background-color: #043a54;
}

.submitButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #666;
}

.error {
  color: #e74c3c;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
}
